.container-2{
    height: 20%;
    padding: 2rem;
}

/*Styling the slides of the employees*/
.slider-wrapper{
    position: relative;
    max-width: 25rem;
    margin:0 auto;
    margin-top: 2rem;
}

.slides{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75 hsl(0, 0%, 0%, 0.25);
    border-radius: 0.5rem
}

.slides li img{
flex:1 0 100%;
scroll-snap-align: start;
}
.slides li{
    list-style: none;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom:1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}




/*Styling the brief history*/
#owners{
    width:50%;
    height: 100%;
}
.container-1{
    display: flex;
    height: 40%;
    width: 100%;
    margin: 0;
    justify-content: center;
    background-color: grey;
    padding: 0;
}

    .item-1 {
        flex-grow: 5;
  
    }
    .container-1 img{
        height: 100%;
    }


.container-1  p{
    font-size: 1.2rem;
    padding-left: 1rem;
    height: 100%;
    
    
    
}
.h2{
    text-align: center;
}


/*Table element*/
.container-3{
    display: flex;
    flex-wrap: wrap;
    gap: .2em;
    width: 70%;
    min-height: 25%;
margin: 0 auto;
    margin-bottom: .5rem;

}

.container-3 img{
    display: block;
    width: 100%;
    padding: .2em;
    height:auto;
    object-fit: cover;
    margin: 0 auto;
     aspect-ratio: 1/1;
}


.container-3 .item {
   color: white;
   background-color: rgba(128, 128, 128, 0.623);
    width:24.5%;
     border: none;
    padding: 0 ;
    text-align: center;
}
@media (max-width:500px){
    .container-3 {
        width: 70%;

}
.container-3 .item {
   width: 100%;
        flex: 1 0 50%;
    flex-wrap: wrap;
        text-align: center;
}
}

.container-3 .item p,a {
   display: block;
   font-size: 1rem;
   width: 100%;

}

