/*Styling the body*/
html{
    height: 100%;
    
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 0, 0.411);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
/*basic page layout and breakpoints*/
 
.container{
    flex:1 0 100%;
    width: 100%;
    gap: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    min-height:25%;
    height: auto;
}


.page-intro{
    text-align: center;
    color: brown;
    font-size: 1.5rem;
   margin: 1em 0 1em 0;
}
/*header*/

/*Styling the footer*/
footer {
    margin-top: auto;
    min-height: 25%;
    display: flex;
    background-color: black;
    font-size: .8rem;
    
}

@media (max-width: 500px){
     footer section
    {
        border: 0.2rem  solid gray;
        flex: 1 0 50%;
        width: 50%;
        text-align: center;
        margin: 0;
   
    }
    footer{
        display:flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;

    }
   
}

@media (max-width <= 500px)
{
     footer section
    {
        border: 0.2rem  solid gray;
        flex: 1 0 50%;
        width: 50%;
        text-align: center;
        margin: 0;
   
    }
    footer{
        display:flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;

    }
   
}



footer section {
    color: white;
    flex: 1;
    border-left: 0.2rem  solid gray;
    padding: .5em ;
    margin-bottom: 0;
    text-align: center;
}


 footer img{
    max-width: 90%;
    display: block;
    height: auto ;
    object-fit: contain;
    margin: 0 auto;
     aspect-ratio: 1/1;
}

/*Icons*/
.fa-facebook, .fa-square-instagram
{
    color: rgba(172, 255, 47, 0.89);
    margin-left: 1em;
    border-radius: 100%;
}

footer input{
    min-height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    margin: .2em;
}

footer button{
    width: 40%;
    min-height: 1.5rem;
    margin-bottom: .5em;
    
}