/*Styling the body*/
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: rgba(255, 255, 0, 0.411);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-intro{
    text-align: center;
    color: brown;
    font-size: 1.5rem;
   margin: 1em 0 1em 0;
}
/*header*/

/*Styling the footer*/
footer {
    max-width: auto;
    min-height: 25%;
    display: flex;
    min-height: 25%;
    background-color: black;
    
}



footer section {
    color: white;
    width:auto;
    border-left: 0.2rem  double gray;
    padding: 1em 1.5em 1em 1.5em;
    margin: 0;
}

footer img{
    aspect-ratio: 1/1;

}

/*Icons*/
.fa-facebook, .fa-square-instagram
{
    color: rgba(172, 255, 47, 0.89);
    margin-left: 1em;
    border-radius: 100%;
}

footer input{
    min-height: 2rem;
    font-size: 1rem;
}