/*Styling the body*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(255, 255, 0, 0.411);
    margin: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-intro{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Styling the navigation bar*/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: black;
    min-height: 10vh;
    margin-top: 0%;
    width: 100%;
}

nav li {
    margin: 0 1.5rem;
    color: white;
}

nav a {
    color: white;

}

nav li,
a {
    text-decoration: none;


}

.dropdown button {
    color: black;
    border: none;
    cursor: pointer;
}

.page {
    display: inline-block;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem 1.5rem;
}


.dropdown .content {
    background-color: white;
    position: absolute;
    min-width: 10rem;
    display: none;
}

.dropdown:hover .content {
    display: block;
}

/*Styling the footer*/
footer {
    width: 100%;

    display: flex;
    min-height: 25%;
    background-color: black;
    margin-right: 0;
    
}



footer section {
    color: white;
    width: 100%;
    border-left: 0.2rem  double gray;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: 0;
}

/*Icons*/
.fa-facebook, .fa-square-instagram
{
    color: rgba(172, 255, 47, 0.89);
    margin-left: 1rem;
    border-radius: 100%;
}

footer input{
    min-height: 2rem;
    min-width: 100%;
    font-size: 1rem;
}