

/*Cakes table*/
.cakes{
    display: flex;
    flex-wrap: wrap;
    gap: .2em;
    width: 70%;
    min-height: 25%;
    margin: 0 auto;
    margin-bottom: .5rem;

}
.cakes img{
    display: block;
    width: 100%;
    padding: .2em;
    height:auto;
    object-fit: cover;
    margin: 0 auto;
     aspect-ratio: 1/1;
}

.cakes .item {
   color: white;
   background-color: rgba(128, 128, 128, 0.623);
    width:24.5%;
    min-width:fit-content;
     border: none;
    padding: 0 ;
    text-align: center;
}

.cakes .item p,a {
   display: block;
   font-size: 1rem;
   width: 100%;

}


@media (max-width:900px){
    .cakes{
        
       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-template-rows: repeat(6,auto);
       width: 90%;
        padding: 0;
        gap: .2em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .2rem;
        
    }
     .cakes .item
    {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         margin: 0;
         padding: 0;
   

    }
    
   
}




