

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.container{
    flex:1 0 100%;
    height: auto;
    gap: 1rem;
}

.item-3{
    position: relative;
    display: block;
    max-width: 70%;
    width: fit-content;
    height: 60%;
    background-color: rgba(128, 128, 128, 0.719);
    
}

.item-3 form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: .2em;
    width: 100%;
    gap: .2em;
}

.item-3 form div{
   flex: 0 0 25%;
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 0;
    border: 0;
}
.item-3 form input{
    width: 100%;
    height: auto;
    border: .2rem solid black;
}

.item-3 form #item-6{
    height: 10rem;
    flex: 1 0 75%;
}
#item-6 textarea{
    min-height: 100%;
    width: 100%;
}
@media (max-width: 500px)
{
    
    .item-3 form div{
   flex: 0 0 50%;
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 0;
    border: 0;
}
.item-3 form #item-6{
    height: 10rem;
    flex: 1 0 75%;
}
}





