#logo{
    min-height: 100%;
    background-color: grey;
    border-radius: 10%;
    padding: 0.5rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.5rem ;
    min-height: 20%;
}

/*main content*/
main{
    min-height: 50%;
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
}

.container-1{
    background-color: grey;
    padding: 0;
    display: flex;
    min-height: 50%;
}

.container-1 p{
    font-size: 1.2rem;
    margin-left: 1em;
    color: rgba(255, 255, 255, 0.582);
}

@media (max-width: 500px){
    .container-1{
        flex-direction: column;
        min-width: 100%;
    }
}

/* Styling Slides */

.slides img {
    height: 1rem;
}

 
.container-2  {
    max-width: 40%;
     display: grid;
     grid-template-rows: 1fr 1fr;
     grid-template-columns: 1fr ;
     margin-top: 1rem;
    padding-left: .5em;
}

.container-2 .item-2{
    display: grid;
    grid-row: 2 / 3;
    grid-template-rows: 1fr ;
     grid-template-columns: 1fr 1fr 1fr;
}

.products{
    display: flex;
    justify-content: center;
    
    align-items: center;
}
.container-2  .products a{
   height: 2rem;
    width: 8rem;
    text-align: center;
    padding-top: 0.2em;
    text-decoration: none;
    background-color: gray;
    border: 0.2rem solid white;
    color: black;
    margin: 0.5rem;
}

.container-2  .products a:hover{
    border: 0.2rem solid rgb(0, 128, 21);
    cursor: pointer;
    
}
.container-2  .products a:active{
    border: 0.5rem solid green;
    
}
/*media quarry*/
@media (max-width: 500px){
    .container-2 .item-2{
        display: flex;
        flex-direction: column;
    }
    
}

/**/
.container-3{
    position: relative;
    right: 0.8rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 25%;
}
.container-3 p{
    color: rgba(255, 255, 255, 0.582);
    background-color: gray;
}

.click-here{
    width: 50%;
    margin-top: 0.5rem;
}

.click-here a{
    width: 50%;
    text-decoration: none;
    background-color: gray;
    border: 0.2rem solid white;
    color: rgba(255, 255, 255, 0.582);
    padding: 0.1rem;
}

.container-3  .click-here a:hover{
    border: 0.2rem solid rgb(0, 128, 21);
    cursor: pointer;

    
}
.container-3 .click-here a:active{
    border: 0.5rem solid green;
    color: rgb(0, 128, 21);
}



