

header{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}


/*Styling the navigation bar*/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
    background-color: black;
    min-height: 10%;
    margin-top: 0%;
    
}
.container-0{
    display: grid;
    grid-template-columns: repeat(8, auto);
}

nav .container-0 li {
    margin:  1em;
    color: white;
}

nav .container-0 a {
    color: white;
    border: 0.2rem solid transparent;
}


nav .container-0 a:hover{
    border: 0.2rem solid rgb(0, 128, 21);
    cursor: pointer;

    
}

/*Navbare dropdown*/

.container-0 .dropdown button {
    color: black;
    border: none;
    cursor: pointer;
}

.container-0 .page {
    display: inline-block;
}

.container-0 .dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem 1.5rem;
}


.container-0 .dropdown .content {
    background-color: white;
    position: absolute;
    min-width: 10rem;
    display: none;
}

.dropdown:hover .content {
    display: block;
}

/*burger manue*/


:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

/*burger sidebar*/
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: black;
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
    height: fit-content;
}
.sidebar li {
    width: fit-content;
    margin:  1rem;
    color: white;
}

  .sidebar a {
    color: white;
    border: 0.2rem solid transparent;
}


  .sidebar a:hover{
    border: 0.2rem solid rgb(0, 128, 21);
    cursor: pointer;

    
}

.dropdown button {
    color: white;
    border: none;
    cursor: pointer;
}

.page {
    display: inline-block;
}

.sidebar .dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem 1.5rem;
}


.sidebar .dropdown .content  {
    background-color: white;
    position: absolute;
    min-width: 10rem;
    display: none;
}

.sidebar .dropdown .content-2  {
    position: absolute;
    width: auto;
    display: none;
}

 /*media quaries*/
@media (min-width: 500px){
   

    .nav-bar {
        display: block;
        grid-column: span 2;
    }

    .burger  {
    position: absolute;
    width: fit-content;
    height: 10%;
    margin-bottom: 0.5rem;
    display: none;
}

    
}
@media (max-width: 500px){
    
    nav {
        display: none;
    }

    .burger  {
        display: block;
        grid-column: span 2;
        margin-bottom: 2rem;
    }
    /*animated header background*/
    /*Image by 
    <a href="https://pixabay.com/users/openclipart-vectors-30363/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=146367">
    OpenClipart-Vectors</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=146367">
    Pixabay</a>*/
    header{
        background-image: url(../assets/images/cake-03.jpg);
        background-size: 20%;
        animation: bg-animation 20s infinite alternate;
        height: 25%;
    }

    
    
}
/*animation*/
@keyframes bg-animation{
    0%{
        background-position: top;
    }
    100%{
        background-position: bottom;
    }
}


.sidebar .dropdown:hover .content {
    display: block;
}

.sidebar .dropdown:hover .content-2 {
    display: grid;
    grid-template-columns: repeat(3, fit-content);
    grid-template-rows: repeat(5,fit-content);
    background-color: rgba(255, 255, 255, 0.397);
    left: 5rem;

}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
